USE [master]
GO
/****** Object:  Database [QLDA]    Script Date: 3/12/2025 7:09:15 PM ******/
CREATE DATABASE [QLDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLDA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLDA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDA]
GO
/****** Object:  User [test]    Script Date: 3/12/2025 7:09:15 PM ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  FullTextCatalog [MyFullTextCatalog]    Script Date: 3/12/2025 7:09:15 PM ******/
CREATE FULLTEXT CATALOG [MyFullTextCatalog] AS DEFAULT
GO
/****** Object:  Table [dbo].[CB_BOMON]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CB_BOMON](
	[MACB] [char](6) NOT NULL,
	[TENCB] [varchar](50) NULL,
	[CHUCVU] [varchar](50) NULL,
 CONSTRAINT [PK_CB_BOMON] PRIMARY KEY CLUSTERED 
(
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucDanh]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucDanh](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[ChucDanh] [nvarchar](100) NULL,
	[HeSoCD] [float] NULL,
 CONSTRAINT [PK_ChucDanh] PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[MADT] [int] IDENTITY(1,1) NOT NULL,
	[TENDT] [nvarchar](200) NULL,
	[LOAIDA] [nvarchar](50) NULL,
	[MOTA] [nvarchar](200) NULL,
	[MAGV] [char](6) NULL,
 CONSTRAINT [PK_DETAI] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MADA] [char](6) NOT NULL,
	[MAGV] [char](6) NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_DIEM_1] PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOAN_NOP]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOAN_NOP](
	[MASV] [char](6) NOT NULL,
	[MADA] [char](6) NOT NULL,
	[NGAYNOP] [date] NULL,
	[LOAIDA] [nvarchar](50) NULL,
 CONSTRAINT [PK_DOAN_NOP] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV_DAOTAO]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_DAOTAO](
	[MADV] [char](6) NOT NULL,
	[TENDV] [varchar](50) NULL,
 CONSTRAINT [PK_DV_DAOTAO] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [char](6) NOT NULL,
	[TENGV] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[Diachi] [ntext] NULL,
	[SDT] [char](12) NULL,
	[Email] [text] NULL,
	[MAKHOA] [char](6) NULL,
	[MaCD] [int] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEDAOTAO]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEDAOTAO](
	[MaHeDT] [char](6) NOT NULL,
	[TenHeDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_HEDAOTAO] PRIMARY KEY CLUSTERED 
(
	[MaHeDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](6) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[ROLE] [varchar](50) NULL,
	[Refld] [char](6) NULL,
 CONSTRAINT [PK_Login_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [char](6) NOT NULL,
	[TENNGANH] [nvarchar](100) NULL,
	[MAKHOA] [char](6) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMSV]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMSV](
	[MANHOM] [char](6) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
	[MADT] [int] NULL,
	[MASV_NT] [char](6) NOT NULL,
	[MASV_TV] [char](6) NOT NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_NHOMSV_1] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MASV_NT] ASC,
	[MASV_TV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NIENKHOA]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIENKHOA](
	[MANK] [char](6) NOT NULL,
	[TENNK] [varchar](50) NULL,
	[NIENKHOA] [varchar](50) NULL,
 CONSTRAINT [PK_NIENKHOA] PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN_DOAN]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN_DOAN](
	[MADA] [char](6) NOT NULL,
	[TENDA] [nvarchar](50) NULL,
	[SOTC] [int] NULL,
	[MADT] [int] NULL,
 CONSTRAINT [PK_QUYEN_DOAN] PRIMARY KEY CLUSTERED 
(
	[MADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 3/12/2025 7:09:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](6) NOT NULL,
	[TENSV] [nvarchar](150) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[MANGANH] [char](6) NULL,
	[MAKHOA] [char](6) NULL,
	[MANK] [char](6) NULL,
	[SDT] [char](12) NULL,
	[Diachi] [ntext] NULL,
	[Email] [text] NULL,
	[MaHeDT] [char](6) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DETAI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DETAI_GIANGVIEN]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_GIANGVIEN]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_QUYEN_DOAN] FOREIGN KEY([MADA])
REFERENCES [dbo].[QUYEN_DOAN] ([MADA])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_QUYEN_DOAN]
GO
ALTER TABLE [dbo].[DOAN_NOP]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_NOP_QUYEN_DOAN] FOREIGN KEY([MADA])
REFERENCES [dbo].[QUYEN_DOAN] ([MADA])
GO
ALTER TABLE [dbo].[DOAN_NOP] CHECK CONSTRAINT [FK_DOAN_NOP_QUYEN_DOAN]
GO
ALTER TABLE [dbo].[DOAN_NOP]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_NOP_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DOAN_NOP] CHECK CONSTRAINT [FK_DOAN_NOP_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_ChucDanh] FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChucDanh] ([MaCD])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_ChucDanh]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD  CONSTRAINT [FK_NGANH_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[NGANH] CHECK CONSTRAINT [FK_NGANH_KHOA]
GO
ALTER TABLE [dbo].[NHOMSV]  WITH CHECK ADD  CONSTRAINT [FK_NHOMSV_DETAI] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[NHOMSV] CHECK CONSTRAINT [FK_NHOMSV_DETAI]
GO
ALTER TABLE [dbo].[NHOMSV]  WITH CHECK ADD  CONSTRAINT [FK_NHOMSV_SINHVIEN] FOREIGN KEY([MASV_NT])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[NHOMSV] CHECK CONSTRAINT [FK_NHOMSV_SINHVIEN]
GO
ALTER TABLE [dbo].[NHOMSV]  WITH CHECK ADD  CONSTRAINT [FK_NHOMSV_SINHVIEN1] FOREIGN KEY([MASV_TV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[NHOMSV] CHECK CONSTRAINT [FK_NHOMSV_SINHVIEN1]
GO
ALTER TABLE [dbo].[QUYEN_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_QUYEN_DOAN_DETAI] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[QUYEN_DOAN] CHECK CONSTRAINT [FK_QUYEN_DOAN_DETAI]
GO
ALTER TABLE [dbo].[QUYEN_DOAN]  WITH CHECK ADD  CONSTRAINT [FK_QUYEN_DOAN_QUYEN_DOAN] FOREIGN KEY([MADA])
REFERENCES [dbo].[QUYEN_DOAN] ([MADA])
GO
ALTER TABLE [dbo].[QUYEN_DOAN] CHECK CONSTRAINT [FK_QUYEN_DOAN_QUYEN_DOAN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_HEDAOTAO] FOREIGN KEY([MaHeDT])
REFERENCES [dbo].[HEDAOTAO] ([MaHeDT])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_HEDAOTAO]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NGANH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NIENKHOA] FOREIGN KEY([MANK])
REFERENCES [dbo].[NIENKHOA] ([MANK])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NIENKHOA]
GO
/****** Object:  StoredProcedure [dbo].[Delete_DeTai]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Delete_DeTai]
	@MaDT char(6)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM DETAI WHERE MADT = @MaDT
END
GO
/****** Object:  StoredProcedure [dbo].[Delete_GiangVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Delete_GiangVien] 
		@MaGV CHAR(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM GIANGVIEN WHERE MAGV = @MaGV
END
GO
/****** Object:  StoredProcedure [dbo].[Delete_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Delete_SinhVien] 
	-- Add the parameters for the stored procedure here
	@MaSV CHAR(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM SINHVIEN WHERE MASV = @MaSV
	DELETE FROM LOGIN WHERE USERNAME = @MaSV
END
GO
/****** Object:  StoredProcedure [dbo].[Edit_DeTai]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Edit_DeTai] 
	@MaDT char(6)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MADT, TENDT, LOAIDA, MOTA FROM DETAI 
	WHERE MADT = @MaDT
END
GO
/****** Object:  StoredProcedure [dbo].[Edit_GiangVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Edit_GiangVien]
		@MaGV CHAR(6)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MAGV, TENGV, NGAYSINH, GIOITINH, Diachi, SDT, Email, MAKHOA, MaCD 
	FROM GIANGVIEN G
	WHERE MAGV = @MaGV
END
GO
/****** Object:  StoredProcedure [dbo].[Edit_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Edit_SinhVien] 
	@MaSV CHAR(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MASV, TENSV, NGAYSINH, GIOITINH, SDT, Diachi, Email, MaHeDT, MANK,  MANGANH, TENKHOA
	FROM SINHVIEN sv
	INNER JOIN KHOA k ON k.MAKHOA = sv.MAKHOA
	WHERE sv.MASV = @MaSV
END
GO
/****** Object:  StoredProcedure [dbo].[Find_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Find_SinhVien] 
	@keyword NVARCHAR(200)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET @keyword = '%' + @keyword + '%';
    -- Insert statements for procedure here
	SELECT MASV, TENSV, NGAYSINH, GIOITINH, SDT, Diachi, Email, TenHeDT, NIENKHOA,  TENNGANH, TENKHOA
	FROM SINHVIEN sv
	INNER JOIN NGANH n ON n.MANGANH = sv.MANGANH
	INNER JOIN KHOA k ON k.MAKHOA = sv.MAKHOA
	INNER JOIN NIENKHOA nk ON nk.MANK = sv.MANK
	INNER JOIN HEDAOTAO h ON h.MaHeDT = sv.MaHeDT
	WHERE MASV LIKE @keyword or TENSV LIKE @keyword OR GIOITINH LIKE @keyword
	OR SDT LIKE @keyword OR Diachi LIKE @keyword OR Email LIKE @keyword
	OR TenHeDT LIKE @keyword OR NIENKHOA LIKE @keyword OR TENNGANH LIKE @keyword OR TENKHOA LIKE @keyword
END
GO
/****** Object:  StoredProcedure [dbo].[InSert_DeTai]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InSert_DeTai]
	@TenDT NVARCHAR(200),
	@LOAIDA NVARCHAR(100),
	@MOTA NVARCHAR(200),
	@MAGV CHAR(6)
 	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO DETAI (TENDT, LOAIDA, MOTA, MAGV)
	VALUES(@TenDT, @LOAIDA, @MOTA, @MAGV)
END
GO
/****** Object:  StoredProcedure [dbo].[Insert_GiangVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_GiangVien] 
		@MaGV CHAR(6),
		@TenGV NVARCHAR(100),
		@NgaySinh Date,
		@GioiTinh nvarchar(5),
		@DiaChi nText,
		@SDT char(12),
		@Email text,
		@MaKhoa char(6),
		@MaCD int
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO GIANGVIEN(MAGV, TENGV, NGAYSINH, GIOITINH, MAKHOA, MaCD, SDT, Diachi, Email) 
	VALUES(@MaGV, @TenGV, @NgaySinh, @GioiTinh, @MaKhoa, @MaCD, @SDT, @DiaChi, @Email)

	INSERT INTO Login (USERNAME, PASSWORD, ROLE, Refld)
	VALUES(@MaGV, 1, 'giangvien', @MaGV)
END
GO
/****** Object:  StoredProcedure [dbo].[InSert_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InSert_SinhVien] 
	-- Add the parameters for the stored procedure here
	@MaSV VARCHAR(6),
	@TenSV NVarChar(150),
	@NgaySinh Date,
	@GioiTinh NVARCHAR(5),
	@MaHeDT VARCHAR(50),
	@MaNganh CHAR(6),
	@MaKhoa CHAR(6),
	@MaNK CHAR(6),
	@SDT CHAR(12),
	@DiaChi nTEXT,
	@Email TEXT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO SINHVIEN (MASV, TENSV, NGAYSINH, GIOITINH, MaHeDT, MANGANH, MAKHOA, MANK, SDT, Diachi, Email) 
	VALUES(@MaSV, @TenSV, @NgaySinh, @GioiTinh, @MaHeDT, @MaNganh, @MaKhoa, @MaNK, @SDT, @DiaChi, @Email)

	INSERT INTO Login (USERNAME, PASSWORD, ROLE, Refld)
	VALUES(@MaSV, 1, 'sinhvien', @MASV)
END
GO
/****** Object:  StoredProcedure [dbo].[Select_ChucDanh]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_ChucDanh] 
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MaCD, ChucDanh, HeSoCD FROM ChucDanh
END
GO
/****** Object:  StoredProcedure [dbo].[Select_DeTai]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_DeTai] 
	AS
BEGIN
	SET NOCOUNT ON;
	SELECT MADT, TENDT, LOAIDA, MOTA, TENGV FROM DETAI D
	INNER JOIN GIANGVIEN G ON G.MAGV = D.MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[Select_DeTaiforGV]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_DeTaiforGV]
	@MaGV char(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MADT, TENDT, LOAIDA, MOTA, TENGV FROM DETAI D
	INNER JOIN GIANGVIEN G ON G.MAGV = D.MAGV
	WHERE D.MAGV = @MaGV
END
GO
/****** Object:  StoredProcedure [dbo].[Select_GiangVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_GiangVien] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT MAGV, TENGV, NGAYSINH, GIOITINH, ChucDanh, HeSoCD, Diachi, SDT, Email, TENKHOA
	FROM GIANGVIEN G
	INNER JOIN KHOA K ON K.MAKHOA = G.MAKHOA
	INNER JOIN ChucDanh C ON C.MaCD = G.MaCD
END
GO
/****** Object:  StoredProcedure [dbo].[Select_HeDT]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_HeDT] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM HEDAOTAO
	ORDER BY TenHeDT
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Khoa]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_Khoa] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MAKHOA,TENKHOA FROM KHOA
END
GO
/****** Object:  StoredProcedure [dbo].[Select_LoaiDA]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_LoaiDA] 
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DISTINCT LOAIDA FROM DETAI
END
GO
/****** Object:  StoredProcedure [dbo].[Select_NameGV]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_NameGV]
	@MaGV char(6) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TENGV FROM GIANGVIEN WHERE MAGV = @MaGV
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Nganh]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_Nganh] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MANGANH, TENNGANH, n.MAKHOA, TENKHOA FROM NGANH n
	INNER JOIN KHOA k ON k.MAKHOA = n.MAKHOA
	ORDER BY TENNGANH
END
GO
/****** Object:  StoredProcedure [dbo].[Select_NienKhoa]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_NienKhoa]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MANK, NIENKHOA FROM NIENKHOA
	ORDER BY NIENKHOA
END
GO
/****** Object:  StoredProcedure [dbo].[Select_Role]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_Role]
	@username VARCHAR(50),
	@password VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ROLE FROM Login WHERE USERNAME = @username AND PASSWORD = @password
END
GO
/****** Object:  StoredProcedure [dbo].[Select_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Select_SinhVien] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MASV, TENSV, NGAYSINH, GIOITINH, SDT, Diachi, Email, TenHeDT, NIENKHOA,  TENNGANH, TENKHOA
	FROM SINHVIEN sv
	INNER JOIN NGANH n ON n.MANGANH = sv.MANGANH
	INNER JOIN KHOA k ON k.MAKHOA = sv.MAKHOA
	INNER JOIN NIENKHOA nk ON nk.MANK = sv.MANK
	INNER JOIN HEDAOTAO h ON h.MaHeDT = sv.MaHeDT
	ORDER BY MASV
END
GO
/****** Object:  StoredProcedure [dbo].[Select_TaiKhoan]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[Select_TaiKhoan]
	-- Add the parameters for the stored procedure here
	@username varchar(50),
	@password varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT UserID, USERNAME, ROLE, Refld  FROM Login where USERNAME = @username and PASSWORD = @password
END
GO
/****** Object:  StoredProcedure [dbo].[SelectName_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectName_SinhVien] 
	@MaSV CHAR(6)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TENSV FROM SINHVIEN WHERE MASV = @MaSV
END
GO
/****** Object:  StoredProcedure [dbo].[Update_DeTai]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_DeTai]
	@MaDT char(6),
	@TENDT NVARCHAR(200),
	@LOAIDA NVARCHAR(100),
	@MOTA NVARCHAR(200)
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE DETAI SET TENDT = @TENDT, LOAIDA = @LOAIDA, MOTA = @MOTA
	WHERE MADT = @MaDT
END
GO
/****** Object:  StoredProcedure [dbo].[Update_SinhVien]    Script Date: 3/12/2025 7:09:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Update_SinhVien]
	@MaSV VARCHAR(6),
	@TenSV NVarChar(150),
	@NgaySinh Date,
	@GioiTinh NVARCHAR(5),
	@MaHeDT VARCHAR(50),
	@MaNganh CHAR(6),
	@TENKHOA NVarChar(50),
	@MaNK CHAR(6),
	@SDT CHAR(12),
	@DiaChi nTEXT,
	@Email TEXT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @MAKHOA CHAR(6);
	SELECT @MAKHOA = MAKHOA FROM KHOA WHERE TENKHOA = @TENKHOA

	UPDATE SINHVIEN SET 
	TENSV = @TenSV, 
	NGAYSINH = @NgaySinh, 
	Diachi = @DiaChi, 
	GIOITINH = @GioiTinh, 
	Email = @Email, 
	SDT = @SDT, 
	MaHeDT = @MaHeDT,
	MANGANH = @MaNganh, 
	MAKHOA = @MAKHOA,
	MANK = @MaNK
	WHERE MASV = @MaSV
END
GO
USE [master]
GO
